{#
  This widget needs JS activation in order to comply with the privacy regulations.

  Some examples and shortcuts are available inside @mep-agency/web-toolkit-front-end NPM
  package.
#}
{% block hcaptcha_widget  %}
<div class="form-group">
  <div class="h-captcha" data-sitekey="{{ hcaptcha_site_key }}"></div>
</div>
{% endblock %}
