/*
 * This file is part of the MEP Web Toolkit package.
 *
 * (c) Marco Lipparini <developer@liarco.net>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

// see /vendor/easycorp/easyadmin-bundle/assets/css/form-type-text-editor.css@10
.mwt-widget-wrapper:focus,
.mwt-widget-wrapper:focus-within {
  border-color: var(--form-input-hover-border-color);
  box-shadow: var(--form-input-hover-shadow);
  outline: 0;
}
