{# @var \Mep\WebToolkitBundle\Entity\EditorJs\Block\Attaches block #}

<div class="attaches">
    <p>{{ block.title|raw }}</p>
    <a href="{{ attachment_public_url(block.attachment) }}" target="_blank">DOWNLOAD</a>
</div>
