{# @var \Mep\WebToolkitBundle\Entity\EditorJs\Block\Embed block #}

{% if block.service == 'youtube' %}
    <div class="embed service-{{ block.service }}">
        <iframe
            title="YouTube video"
            width="560"
            height="315"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
            data-external-url="{{ block.source }}"
            src="{{ block.embed }}?enablejsapi=1"
        ></iframe>
    </div>
{% endif %}