{# @var \Mep\WebToolkitBundle\Entity\EditorJs\Block\Quote block #}

<figure class="quote alignment-{{ block.alignment }}">
    <blockquote>
        <p>{{ block.text|raw }}</p>
    </blockquote>
    <figcaption>
        <cite>{{ block.caption }}</cite>
    </figcaption>
</figure>
