{# @var \Mep\WebToolkitBundle\Entity\EditorJs\Block\Quote block #}

<blockquote class="editorjs-quote alignment-{{ block.alignment }}">
    <p>{{ block.text|raw }}</p>
    <cite>{{ block.caption }}</cite>
</blockquote>
