{# @var \Mep\WebToolkitBundle\Entity\EditorJs\Block\Table block #}

<table>
    {% if block.withHeadings %}
        <thead>
            <tr>
                {% for cellValue in block.content[0] %}
                    <th>{{ cellValue }}</th>
                {% endfor %}
            </tr>
        </thead>
    {% endif %}


    <tbody>
        {% for row in block.content %}
            {% if not block.withHeadings or not loop.first %}
                <tr>
                    {% for cellValue in row %}
                        <td>{{ cellValue }}</td>
                    {% endfor %}
                </tr>
            {% endif %}
        {% endfor %}
    </tbody>
</table>