{# @var \Mep\WebToolkitBundle\Entity\EditorJs\Block\Warning block #}

<div class="warning">
    <h{{ starting_heading_level }}>
        {{ block.title }}
    </h{{ starting_heading_level }}>
    <p>{{ block.message }}</p>
</div>