{# @var \Mep\WebToolkitBundle\Entity\EditorJs\Block\Warning block #}

<div class="warning">
    <div class="title">
        {{ block.title|raw }}
    </div>
    <p>{{ block.message|raw }}</p>
</div>