/*
 * This file is part of the MEP Web Toolkit package.
 *
 * (c) Marco Lipparini <developer@liarco.net>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

/* stylelint-disable selector-class-pattern */
.mwt-editorjs-wrapper {
  padding: 0;

  &.is-invalid {
    padding-right: 0.75rem;

    // Reset border color since other EAB inputs work this way
    border-color: var(--form-input-border-color);
    background-position: right 0.5em top 0.5em;
  }

  .codex-editor {
    .codex-editor__redactor {
      padding-top: 3em;
    }

    .ce-block:first-of-type {
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        padding-top: 0;
      }
    }
  }
}

body.ea-dark-scheme .mwt-editorjs-wrapper {
  border: 1px solid var(--border-secondary-color);
  background-color: var(--body-bg);
  color: var(--text-primary-color);

  &:focus-within {
    box-shadow: 0 0 0 4px var(--primary-bg);
  }

  .cdx-attaches {
    background-color: var(--body-bg);
    color: var(--text-primary-color);
  }

  .ce-block--selected .ce-block__content {
    background-color: var(--primary-bg);
  }

  .ce-toolbox *,
  .ce-toolbar__actions * {
    fill: var(--text-primary-color);

    &.ce-settings__button:hover,
    &.cdx-settings-button:hover {
      background-color: var(--text-primary-color);

      & * {
        fill: var(--tertiary-bg);
      }
    }

    &.ce-toolbox__button:hover {
      background-color: var(--secondary-bg);
      fill: var(--secondary-text-color);
    }
  }

  @media (min-width: 651px) {
    .codex-editor--narrow .ce-toolbox {
      background: none;
    }
  }

  .ce-toolbar {
    .ce-toolbar__settings-btn:hover,
    .ce-toolbar__plus:hover {
      background-color: var(--secondary-bg);
    }
  }

  .ce-settings--opened {
    border-color: var(--border-secondary-color);
    background-color: var(--secondary-bg);
  }
}
