/*
 * This file is part of the MEP Web Toolkit package.
 *
 * (c) Marco Lipparini <developer@liarco.net>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

.mwt-editorjs-wrapper {
  padding-top: 3em;

  &.is-invalid {
    padding-right: 0.75rem;
    // Reset border color since other EAB inputs work this way
    border-color: var(--form-input-border-color);
    background-position: right 0.5em top 0.5em;
  }

  .ce-block:first-of-type {
    h1, h2, h3, h4, h5, h6 {
      padding-top: 0;
    }
  }
}
